Repository GoodsPartner/GoodsPartner, pull requests merged in 2022-08, with the labels that each got.

#113 76-sonarcloud-integration
  .github/workflows/maven-publish.yml
  .github/workflows/sonar-cloud.yml
  README.md
  goods-partner-backend/pom.xml
  goods-partner-backend/src/test/java/com/goodspartner/web/controller/CarControllerITest.java
  goods-partner-frontend/src/components/Calculate/DateChooserCard/DateChooserCard.js
  pom.xml
Labels: backend

#105 Migrate to WebClient
  goods-partner-backend/pom.xml
  goods-partner-backend/src/main/java/com/goodspartner/Starter.java
  goods-partner-backend/src/main/java/com/goodspartner/dto/OrderDto.java
  goods-partner-backend/src/main/java/com/goodspartner/dto/ProductDto.java
  goods-partner-backend/src/main/java/com/goodspartner/mapper/OrderMapper.java
  goods-partner-backend/src/main/java/com/goodspartner/mapper/ProductMapper.java
  goods-partner-backend/src/main/java/com/goodspartner/service/dto/external/grandedolce/ODataOrderDto.java
  goods-partner-backend/src/main/java/com/goodspartner/service/dto/external/grandedolce/ODataProductDto.java
  goods-partner-backend/src/main/java/com/goodspartner/service/dto/external/grandedolce/ODataWrapperDto.java
  goods-partner-backend/src/main/java/com/goodspartner/service/impl/DefaultOrderService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/impl/ExternalOrderService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/impl/GrandeDolceOrderService.java
  goods-partner-backend/src/main/java/com/goodspartner/util/DtoCalculationHelper.java
  goods-partner-backend/src/main/java/com/goodspartner/util/ODataUrlBuilder.java
  goods-partner-backend/src/main/resources/application.yml
  goods-partner-backend/src/test/java/com/goodspartner/config/TestContextConfiguration.java
  goods-partner-backend/src/test/java/com/goodspartner/mapper/OrderMapperTest.java
  goods-partner-backend/src/test/java/com/goodspartner/mapper/ProductMapperTest.java
  goods-partner-backend/src/test/java/com/goodspartner/service/WebClientTest.java
  goods-partner-backend/src/test/java/com/goodspartner/service/impl/GrandeDolceOrderServiceITest.java
  goods-partner-backend/src/test/java/com/goodspartner/service/impl/GrandeDolceOrderServiceTest.java
  goods-partner-backend/src/test/java/com/goodspartner/util/DtoCalculationHelperTest.java
  goods-partner-backend/src/test/java/com/goodspartner/util/ODataUrlBuilderTest.java
  goods-partner-backend/src/test/resources/application-test.yml
Labels: backend

#120 119-disable-sonarcloud-pr-coverage-analysis
  .github/workflows/sonar-cloud.yml
Labels: infrastructure

#124 validate-orders-address-with-osm
  goods-partner-backend/src/main/java/com/goodspartner/dto/OsmGeocodingDto.java
  goods-partner-backend/src/main/java/com/goodspartner/service/OrderValidationService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/impl/MockOrderValidationService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/impl/OsmOrderValidationService.java
  goods-partner-backend/src/test/java/com/goodspartner/service/impl/OsmOrderValidationServiceITest.java
  goods-partner-backend/src/test/java/com/goodspartner/web/controller/OrdersControllerITest.java
Labels: backend

#128 127_add_github_actions_build_for_prs
  .github/workflows/maven-publish.yml
Labels: backend, infrastructure

#126 122-exclude-com.goodspartner.service.dto-for-coverage-analysis
  goods-partner-backend/pom.xml
Labels: backend, infrastructure
