Repository GoodsPartner/GoodsPartner, pull requests merged in 2023-01, with the labels that each got.

#422 413 actualise routepoint arrival time for driver
  goods-partner-backend/src/main/java/com/goodspartner/configuration/properties/ClientProperties.java
  goods-partner-backend/src/main/java/com/goodspartner/dto/Location.java
  goods-partner-backend/src/main/java/com/goodspartner/dto/RoutePointDto.java
  goods-partner-backend/src/main/java/com/goodspartner/entity/DeliveryHistoryTemplate.java
  goods-partner-backend/src/main/java/com/goodspartner/entity/Route.java
  goods-partner-backend/src/main/java/com/goodspartner/entity/RoutePoint.java
  goods-partner-backend/src/main/java/com/goodspartner/event/EventType.java
  goods-partner-backend/src/main/java/com/goodspartner/facade/RoutingFacade.java
  goods-partner-backend/src/main/java/com/goodspartner/facade/impl/DefaultRoutingFacade.java
  goods-partner-backend/src/main/java/com/goodspartner/repository/RouteRepository.java
  goods-partner-backend/src/main/java/com/goodspartner/service/DeliveryService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/EventService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/GraphhopperService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/RoutePointService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/RouteService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/google/GoogleVRPSolver.java
  goods-partner-backend/src/main/java/com/goodspartner/service/impl/DefaultDeliveryService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/impl/DefaultEventService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/impl/DefaultGraphhopperService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/impl/DefaultRoutePointService.java
  goods-partner-backend/src/main/java/com/goodspartner/service/impl/DefaultRouteService.java
  goods-partner-backend/src/main/java/com/goodspartner/web/action/RoutePointAction.java
  goods-partner-backend/src/main/java/com/goodspartner/web/controller/RouteController.java
  goods-partner-backend/src/main/java/com/goodspartner/web/controller/RoutePointController.java
  goods-partner-backend/src/main/resources/db/migration/V5.14__Modify_routePoints_table_add_column_matchingTime.sql
  goods-partner-backend/src/test/java/com/goodspartner/AbstractWebITest.java
  goods-partner-backend/src/test/java/com/goodspartner/web/controller/RoutePointControllerIT.java
  goods-partner-backend/src/test/java/com/goodspartner/web/controller/route/RouteControllerIT.java
Labels: backend, design

#439 Fix ability change driver
  goods-partner-backend/src/main/java/com/goodspartner/repository/CarRepository.java
  goods-partner-backend/src/main/java/com/goodspartner/service/impl/DefaultCarService.java
  goods-partner-backend/src/test/java/com/goodspartner/service/impl/DefaultCarServiceITest.java
  goods-partner-backend/src/test/java/com/goodspartner/web/controller/CarControllerITest.java
  goods-partner-backend/src/test/resources/datasets/common/car/update_driver_expected.yml
Labels: backend

#517 Docker image considering Google Api Key
  Dockerfile
  docker-compose.yml
  goods-partner-frontend/pom.xml
  scripts/build.sh
Labels: enhancement
